 <div class="row about">
 		<div class="col s12 m6 l6">
        <p><em>Founded in 2018</em>, Lehamim consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lehamim consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
		<!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Request Catalogue</a>
      </div>

             <!-- Modal Structure -->
         <div id="modal1" class="modal">
          <div class="modal-content">
          	<h4>Lehamim</h4>
          	<p>Enter your name and email to receive our catalogue. All first time customers receive 10% off their first order. </p>
            <div id="form">
              <form action="/contact" method="POST">
               <input  class= "namefield" type="text" name="fullname" placeholder="Name">
				<input class="emailfield" type="text" name="email" placeholder="email address">
				<input  id="send" class="sendbt" type="submit" name="submit">
          </form>
            </div>
          </div>
      </div>
</div> 


 
