 <div class="slider">
    <ul class="slides">
      <li>
        <img src="images/vitrine.jpg" class="foodslide">
        <div class="caption left-align">
          <h3>Welcome to Lehamim!</h3>
          <h5 class="light grey-text text-lighten-3">take a look around...</h5>
        </div>
      </li>
      <li>
        <img src="images/dough.jpg" class="foodslide"> 
        <div class="caption right-align">
          <h3>Made fresh daily</h3>
          <h5 class="light grey-text text-lighten-3"> with quality ingredients</h5>
        </div>
      </li>
      <li>
        <img src="images/makingpie.jpg" class="foodslide">
        <div class="caption center-align">
          <h3>Old family recipes</h3>
          <h5 class="light grey-text text-lighten-3">to delight your senses</h5>
        </div>
      </li>
      <li>
        <img src="images/confections.jpg" class="foodslide"> 
        <div class="caption center-align">
          <h3>Treat yourself!</h3>
          <h5 class="light grey-text text-lighten-3">You won't regret it.</h5>
        </div>
      </li>
    </ul>
  </div>

  


      