<!DOCTYPE html>
<html>
<head>
	<title>Lehamim USA</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>	
  <nav>
    <div class="nav-wrapper">
      <a href="/index" class="brand-logo"><img src="images/logo.png" class="logopic"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/menu"><p class="navp">MENU</p></a></li>
        <li><a href="/about"><p class="navp">ABOUT</p></a></li>
        <li><a href="/collapsible"><p class="navp">SOMETHING</p></a></li>
      </ul>
    </div>
  </nav>

 			<%= yield %>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>