
    <div class="row">
    	<!-- Card 1 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/fruitycake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Forest Fruits<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 2 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/smallcake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      	
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 3 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/cheesecake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 4 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/pie.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      	
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>

<!-- Card 5 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/fruitycake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 6 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/smallcake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
     
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 7 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/cheesecake.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      	
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>
<!-- Card 8 -->
 		<div class="card col s12 m6 l3">
    		<div class="card-image waves-effect waves-block waves-light">
      		<img class="activator" src="images/pie.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
</div>
</div>

</div>

